@import './variables.scss';

.hidden {
  display: none;
}

.wrapper {
  padding: 0 1rem;
  box-sizing: border-box;
  &--fullHeight {
    height: 100vh;
  }
  &--greyBg {
    background: $background;
  }
}

.title {
  color: $blue;
  text-align: center;
  font-size: 1.25rem;
  padding-bottom: 1.5rem;
}

.form {
  padding: 8px 0;
  display: flex;
  flex-direction: column;
}
.label {
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  &__text {
    padding-bottom: 0.5rem;
    line-height: 1;
  }
}
.input {
  display: block;
  border: 1px solid $grey;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  font-family: 'Questrial', sans-serif;
  transition: border 0.7s ease;
  &:focus {
    border-color: $lightblue;
  }
}
.button {
  background: $blue;
  color: $white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  border: none;
  width: fit-content;
  margin: 0 auto;
}

.switch {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  &__wrapper {
    background: $white;
    box-shadow: 3px 3px 10px -3px rgba(0, 0, 0, 0.25);
    display: flex;
    border-radius: 5px;
    position: relative;
  }
  &__button, &__selection {
    padding: 0.5rem 1rem;
  }
  &__selection {
    position: absolute;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background: $blue;
    color: $white;
    transition: left 0.5s ease, right 0.5s ease;
  }
}

.inputGroup {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 8px;
  .switch {
    justify-content: end;
  }
}