@import '../styles/variables.scss';

.menuBar {
  background: $white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menuIcon {
  padding:  1rem;
}

.menuBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  z-index: -1;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  transition: background 0.2s ease;
  &::-webkit-scrollbar {
    display: none;
  }
  &--opened {
    z-index: 1;
    background: rgba(0, 0, 0, 0.44);
  }
}

.menuCover {
  position: relative;
  height: 100%;
  width: 200%;
}

.menu {
  position: absolute;
  width: calc(50% - 4rem);
  right: 0;
  top: 0;
  bottom: 0;
  background: $white;
}