@import '../styles/variables.scss';

.recipientsContainer {
  height: 8.8125rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 0.875rem;
  background: $white;
}

.recipientsBox {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  flex: 1;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;

  &__scrolling {
    height: 100%;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    align-items: center;
  }
  
  &__arrow {
    margin-top: 0.5rem;
  }
}

.recipient {
  height: calc(100% - 0.625rem);
  padding: 0.5rem;
  background: $white;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 10px -5px rgba(0, 0, 0, 0.25);
  margin: 0 0.5rem;
  min-width: fit-content;
  
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &__image {
    height: 3.5rem;
  }
  &__name {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    color: $blue;
    min-width: 5.25rem;
  }
}

.drinkOrAddButton {
  color: $white;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  border: none;
  height: 100%;
  background: $blue;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding: 0 1rem;
  max-width: 6.25rem;
  
  &__icon {
    margin-bottom: 0.5rem;
  }
}