@import './variables.scss';

.wrapper {
  padding: 0 1rem;
}

.form {
  padding: 8px;
}

.switch {
  width: 100%;
  display: flex;
  justify-content: center;
  &__wrapper {
    background: $white;
    box-shadow: 3px 3px 10px -3px rgba(0, 0, 0, 0.25);
    display: flex;
    border-radius: 5px;
    position: relative;
  }
  &__button, &__selection {
    padding: 0.5rem 1rem;
  }
  &__selection {
    position: absolute;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background: $blue;
    color: $white;
    transition: left 0.5s ease, right 0.5s ease;
  }
}