@import '../styles/variables.scss';

.homeContainer {
  display: flex;
  background: $background;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.logo {
  color: $blue;
  text-align: center;
  font-size: 1.375rem;
  line-height: 1;
  &__largerWord {
    font-size: 2.625rem;
    display: block;
  }
}